<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white">
  <div class="container text-center">
    <small>Copyright &copy; <%= link_to "Ante Kodžoman", "https://www.youtube.com/watch?v=zYHhzD3oqHY&ab_channel=StonedMeadowOfDoom" %> </small>
  </div>
</footer>